In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

sns.set(color_codes=True)

In [2]:
import pycaret.classification as pcc
from sklearn.metrics import cohen_kappa_score

<br>
<br>
<br>

### Data Collection

In [3]:
# importing training data
train_data = pd.read_csv("../data/train.csv")
train_data.head()

,Id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,8.0,0.50,0.39,2.2,0.073,30.0,39.0,0.99572,3.33,0.77,12.1,6
1,1,9.3,0.30,0.73,2.3,0.092,30.0,67.0,0.99854,3.32,0.67,12.8,6
2,2,7.1,0.51,0.03,2.1,0.059,3.0,12.0,0.99660,3.52,0.73,11.3,7
3,3,8.1,0.87,0.22,2.6,0.084,11.0,65.0,0.99730,3.20,0.53,9.8,5
4,4,8.5,0.36,0.30,2.3,0.079,10.0,45.0,0.99444,3.20,1.36,9.5,6

In [4]:
# inspecting target
train_data.quality.value_counts()

5    839
6    778
7    333
4     55
8     39
3     12
Name: quality, dtype: int64

In [5]:
# removing 3 from target
# so it ranges from 0-5
train_data['quality'] = train_data.quality - 3

In [6]:
# updated target
train_data.quality.value_counts()

2    839
3    778
4    333
1     55
5     39
0     12
Name: quality, dtype: int64

In [7]:
# importing test data
test_data = pd.read_csv("../data/test.csv")
test_data.head()

,Id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,2056,7.2,0.510,0.01,2.0,0.077,31.0,54.0,0.99748,3.39,0.59,9.8
1,2057,7.2,0.755,0.15,2.0,0.102,14.0,35.0,0.99586,3.33,0.68,10.0
2,2058,8.4,0.460,0.40,2.0,0.065,21.0,50.0,0.99774,3.08,0.65,9.5
3,2059,8.0,0.470,0.40,1.8,0.056,14.0,25.0,0.99480,3.30,0.65,11.7
4,2060,6.5,0.340,0.32,2.1,0.044,8.0,94.0,0.99356,3.23,0.48,12.8

In [8]:
# verifying columns
train_data.head()

,Id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,8.0,0.50,0.39,2.2,0.073,30.0,39.0,0.99572,3.33,0.77,12.1,3
1,1,9.3,0.30,0.73,2.3,0.092,30.0,67.0,0.99854,3.32,0.67,12.8,3
2,2,7.1,0.51,0.03,2.1,0.059,3.0,12.0,0.99660,3.52,0.73,11.3,4
3,3,8.1,0.87,0.22,2.6,0.084,11.0,65.0,0.99730,3.20,0.53,9.8,2
4,4,8.5,0.36,0.30,2.3,0.079,10.0,45.0,0.99444,3.20,1.36,9.5,3

In [9]:
# returns quadratic kappa score
def quad_kappa(y, y_pred):
    return cohen_kappa_score(y, y_pred, weights='quadratic')

<br>
<br>
<br>

### Normal Data

In [13]:
# setting up environment
wine_quality = pcc.setup(
    data=train_data,
    target='quality',
    use_gpu=True,
    feature_interaction=True,
    feature_ratio=True,
    polynomial_features=True,
    trigonometry_features=True,
    feature_selection=True,
    remove_multicollinearity=True
)

In [14]:
# inspecting the environment
wine_quality

(5,
 None,
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['Id'],
                                       ml_usecase='classification',
                                       numerical_features=[], target='quality',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_...
                  Fix_multicollinearity(correlation_with_target_preference=None,
                                        correlation_with_target_threshold=0.0,
                                        target_variable='quality',
                                        threshold=0.9)),
                 ('dfs',
                  DFS_Classic(interactions=['multiply', 'divide'],
                              ml_usecase='classification', n_jobs=-1,
                              random_state=1747, subclass='multi',
                              target='quality',
                              top_features_to_pick_percentage=None)),
                 ('pca', 'passthrough')],
          verbose=False),
 'quality',
 1,
 'lightgbm',
 Pipeline(memory=None,
          steps=[('fix_imbalance',
                  SMOTE(k_neighbors=5, n_jobs=None, random_state=1747,
                        sampling_strategy='auto'))],
          verbose=False),
 True,
 False,
 [('Setup Config',
                                  Description             Value
   0                               session_id              1747
   1                                   Target           quality
   2                              Target Type        Multiclass
   3                            Label Encoded              None
   4                            Original Data        (2056, 13)
   5                           Missing Values             False
   6                         Numeric Features                12
   7                     Categorical Features                 0
   8                         Ordinal Features             False
   9                High Cardinality Features             False
   10                 High Cardinality Method              None
   11                   Transformed Train Set        (1439, 18)
   12                    Transformed Test Set         (617, 18)
   13                      Shuffle Train-Test              True
   14                     Stratify Train-Test             False
   15                          Fold Generator   StratifiedKFold
   16                             Fold Number                10
   17                                CPU Jobs                -1
   18                                 Use GPU              True
   19                          Log Experiment             False
   20                         Experiment Name  clf-default-name
   21                                     USI              39cf
   22                         Imputation Type            simple
   23          Iterative Imputation Iteration              None
   24                         Numeric Imputer              mean
   25      Iterative Imputation Numeric Model              None
   26                     Categorical Imputer          constant
   27  Iterative Imputation Categorical Model              None
   28           Unknown Categoricals Handling    least_frequent
   29                               Normalize             False
   30                        Normalize Method              None
   31                          Transformation             False
   32                   Transformation Method              None
   33                                     PCA             False
   34                              PCA Method              None
   35                          PCA Components              None
   36                     Ignore Low Variance             False
   37                     Combine Rare Levels             False
   38                    Rare Level Threshold              None
   39                         Numeric Binning             False
   40                         Remove Outliers             False
   41                      Outliers Threshold              None
   42                Remove Multicollinearity              True
   43             Multicollinearity Threshold               0.9
   44             Remove Perfect Collinearity              True
   45                              Clustering             False
   46                    Clustering Iteration              None
   47                     Polynomial Features              True
   48                       Polynomial Degree                 2
   49                    Trignometry Features              True
   50                    Polynomial Threshold               0.1
   51                          Group Features             False
   52                       Feature Selection              True
   53                Feature Selection Method           classic
   54            Features Selection Threshold               0.8
   55                     Feature Interaction              True
   56                           Feature Ratio              True
   57                   Interaction Threshold              0.01
   58                           Fix Imbalance              True
   59                    Fix Imbalance Method             SMOTE),
  ('X_training Set',
         citric acid  sin(total sulfur dioxide)    pH  fixed acidity  \
   508          0.30                  -0.953753  3.30            8.7
   1198         0.60                  -0.008851  3.40            8.8
   1018         0.54                   0.912945  3.14           12.5
   1428         0.08                  -0.855520  3.42            7.0
   1337         0.08                   0.999520  3.45            6.8
   ...           ...                        ...   ...            ...
   260          0.55                  -0.287903  3.24            8.7
   19           0.16                  -0.953753  3.61            5.6
   1064         0.09                   0.395925  3.15            8.8
   466          0.00                   0.990607  3.45            7.1
   143          0.49                   0.836656  3.22           10.4

         free sulfur dioxide  residual sugar  volatile acidity  cos(alcohol)  \
   508                  13.0             2.6              0.50     -0.714266
   1198                  9.0             2.0              0.39     -0.291289
   1018                  6.0             2.6              0.46     -0.095429
   1428                 31.0             2.5              0.60     -0.999693
   1337                 18.0             2.0              0.66     -0.930426
   ...                   ...             ...               ...           ...
   260                   7.0             2.0              0.36      0.720433
   19                   12.0             3.0              0.39      0.860966
   1064                 35.0             2.4              0.50      0.964733
   466                   5.0             1.3              0.85     -0.997172
   143                   6.0             2.6              0.21     -0.475537

         chlorides  total sulfur dioxide  tan(sulphates)  density  \
   508       0.080                  49.0        2.427266  0.99650
   1198      0.082                  22.0        0.669556  0.99622
   1018      0.070                  20.0        0.572562  0.99900
   1428      0.071                  67.0        0.599430  0.99584
   1337      0.100                  77.0        0.669556  0.99588
   ...         ...                   ...             ...      ...
   260       0.128                  16.0        1.138333  0.99820
   19        0.095                  49.0        1.234599  0.99810
   1064      0.073                  53.0        0.640969  0.99745
   466       0.080                  14.0        0.520611  0.99692
   143       0.074                  21.0        1.340874  0.99975

         tan(sulphates)_multiply_residual sugar  \
   508                                 6.310891
   1198                                1.339111
   1018                                1.488661
   1428                                1.498574
   1337                                1.339111
   ...                                      ...
   260                                 2.276665
   19                                  3.703798
   1064                                1.538325
   466                                 0.676794
   143                                 3.486272

         cos(alcohol)_divide_free sulfur dioxide  \
   508                                 -0.054944
   1198                                -0.032365
   1018                                -0.015905
   1428                                -0.032248
   1337                                -0.051690
   ...                                       ...
   260                                  0.102919
   19                                   0.071747
   1064                                 0.027564
   466                                 -0.199434
   143                                 -0.079256

         tan(sulphates)_multiply_density  tan(sulphates)_multiply_chlorides  \
   508                          2.418771                           0.194181
   1198                         0.667025                           0.054904
   1018                         0.571989                           0.040079
   1428                         0.596936                           0.042560
   1337                         0.666797                           0.066956
   ...                               ...                                ...
   260                          1.136284                           0.145707
   19                           1.232254                           0.117287
   1064                         0.639334                           0.046791
   466                          0.519007                           0.041649
   143                          1.340539                           0.099225

         pH_divide_tan(sulphates)  volatile acidity_multiply_cos(alcohol)
   508                   1.359554                               -0.357133
   1198                  5.077995                               -0.113603
   1018                  5.484124                               -0.043897
   1428                  5.705423                               -0.599816
   1337                  5.152671                               -0.614081
   ...                        ...                                     ...
   260                   2.846268                                0.259356
   19                    2.924025                                0.335777
   1064                  4.914438                                0.482366
   466                   6.626832                               -0.847596
   143                   2.401419                               -0.099863

   [1439 rows x 18 columns]),
  ('y_training Set',
   508     3
   1198    3
   1018    2
   1428    2
   1337    2
          ..
   260     3
   19      5
   1064    3
   466     2
   143     3
   Name: quality, Length: 1439, dtype: int64),
  ('X_test Set',
         citric acid  sin(total sulfur dioxide)    pH  fixed acidity  \
   1246         0.00                  -0.544021  3.51            6.4
   961          0.45                   0.986628  3.21            8.2
   115          0.33                  -0.750987  3.26            7.3
   684          0.00                  -0.905578  3.36            6.8
   940          0.40                   0.912945  3.30            8.0
   ...           ...                        ...   ...            ...
   1119         0.14                   0.989358  3.35            7.9
   1007         0.00                  -0.008851  3.20            8.1
   2009         0.49                   0.963795  3.31            8.5
   1303         0.25                   0.885925  3.17            8.6
   1516         0.34                   0.149877  3.34            7.0

         free sulfur dioxide  residual sugar  volatile acidity  cos(alcohol)  \
   1246                  4.0             1.8             0.695      0.786070
   961                  31.0             2.4             0.380      0.004426
   115                  11.0             4.4             0.240      0.568290
   684                  10.0             3.4             0.540     -0.385338
   940                   8.0             2.4             0.270      0.786070
   ...                   ...             ...               ...           ...
   1119                  3.0             2.5             0.655      0.893206
   1007                  8.0             1.7             0.870     -0.475537
   2009                 12.0             2.4             0.500     -0.911130
   1303                 31.0             2.0             0.580     -0.999693
   1516                 12.0             1.9             0.240     -0.095429

         chlorides  total sulfur dioxide  tan(sulphates)  density  \
   1246      0.056                  10.0        0.626950  0.99536
   961       0.065                  52.0        0.825336  0.99332
   115       0.093                  18.0        0.655168  0.99803
   684       0.077                  24.0        0.684137  0.99531
   940       0.123                  20.0        0.808661  0.99623
   ...         ...                   ...             ...      ...
   1119      0.056                   8.0        0.669556  0.99362
   1007      0.067                  22.0        0.640969  0.99670
   2009      0.094                  39.0        0.698919  0.99780
   1303      0.086                 134.0        0.655168  0.99760
   1516      0.066                  19.0        1.009246  0.99560

         tan(sulphates)_multiply_residual sugar  \
   1246                                1.128509
   961                                 1.980807
   115                                 2.882741
   684                                 2.326065
   940                                 1.940787
   ...                                      ...
   1119                                1.673889
   1007                                1.089647
   2009                                1.677405
   1303                                1.310337
   1516                                1.917568

         cos(alcohol)_divide_free sulfur dioxide  \
   1246                                 0.196518
   961                                  0.000143
   115                                  0.051663
   684                                 -0.038534
   940                                  0.098259
   ...                                       ...
   1119                                 0.297735
   1007                                -0.059442
   2009                                -0.075928
   1303                                -0.032248
   1516                                -0.007952

         tan(sulphates)_multiply_density  tan(sulphates)_multiply_chlorides  \
   1246                         0.624040                           0.035109
   961                          0.819823                           0.053647
   115                          0.653878                           0.060931
   684                          0.680928                           0.052679
   940                          0.805613                           0.099465
   ...                               ...                                ...
   1119                         0.665284                           0.037495
   1007                         0.638853                           0.042945
   2009                         0.697381                           0.065698
   1303                         0.653596                           0.056344
   1516                         1.004806                           0.066610

         pH_divide_tan(sulphates)  volatile acidity_multiply_cos(alcohol)
   1246                  5.598536                                0.546319
   961                   3.889325                                0.001682
   115                   4.975820                                0.136390
   684                   4.911298                               -0.208082
   940                   4.080818                                0.212239
   ...                        ...                                     ...
   1119                  5.003318                                0.585050
   1007                  4.992445                               -0.413717
   2009                  4.735886                               -0.455565
   1303                  4.838451                               -0.579822
   1516                  3.309400                               -0.022903

   [617 rows x 18 columns]),
  ('y_test Set',
   1246    3
   961     2
   115     3
   684     2
   940     2
          ..
   1119    4
   1007    4
   2009    2
   1303    2
   1516    2
   Name: quality, Length: 617, dtype: int64),
  ('Transformation Pipeline',
   Pipeline(memory=None,
            steps=[('dtypes',
                    DataTypes_Auto_infer(categorical_features=[],
                                         display_types=True, features_todrop=[],
                                         id_columns=['Id'],
                                         ml_usecase='classification',
                                         numerical_features=[], target='quality',
                                         time_features=[])),
                   ('imputer',
                    Simple_Imputer(categorical_strategy='not_available',
                                   fill_value_categorical=None,
                                   fill_value_numerical=None,
                                   numeric_...
                    Fix_multicollinearity(correlation_with_target_preference=None,
                                          correlation_with_target_threshold=0.0,
                                          target_variable='quality',
                                          threshold=0.9)),
                   ('dfs',
                    DFS_Classic(interactions=['multiply', 'divide'],
                                ml_usecase='classification', n_jobs=-1,
                                random_state=1747, subclass='multi',
                                target='quality',
                                top_features_to_pick_percentage=None)),
                   ('pca', 'passthrough')],
            verbose=False))],
 [],
 False,
 -1,
 1747,
         Id  fixed acidity  volatile acidity  citric acid  residual sugar  \
 0        0            8.0              0.50         0.39            2.20
 1        1            9.3              0.30         0.73            2.30
 2        2            7.1              0.51         0.03            2.10
 3        3            8.1              0.87         0.22            2.60
 4        4            8.5              0.36         0.30            2.30
 ...    ...            ...               ...          ...             ...
 2051  2051            6.6              0.31         0.13            2.00
 2052  2052            9.7              0.59         0.21            1.80
 2053  2053            7.7              0.43         0.42            1.70
 2054  2054            9.1              0.50         0.00            1.75
 2055  2055            6.2              0.31         0.18            2.30

       chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
 0         0.073                 30.0                  39.0  0.99572  3.33
 1         0.092                 30.0                  67.0  0.99854  3.32
 2         0.059                  3.0                  12.0  0.99660  3.52
 3         0.084                 11.0                  65.0  0.99730  3.20

<br>
<br>

In [15]:
# adding our custom metric
pcc.add_metric('quad_kappa', 'Quad Kappa', quad_kappa)

Name                                                  Quad Kappa
Display Name                                          Quad Kappa
Score Function       <function quad_kappa at 0x000001BABA1E10D8>
Scorer                                   make_scorer(quad_kappa)
Target                                                      pred
Args                                                          {}
Greater is Better                                           True
Multiclass                                                  True
Custom                                                      True
Name: quad_kappa, dtype: object

In [16]:
# comparing models and sorting them by quad_kappa
pcc.compare_models(sort='quad_kappa')

IntProgress(value=0, description='Processing: ', max=84)

Initiated  . . . . . . . . . . . . . . . . . .                      18:15:43
Status     . . . . . . . . . . . . . . . . . .              Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Gradient Boosting Classifier

<br>
<br>

In [34]:
# stacking top 2 models
staker = pcc.stack_models(top_2, optimize='Quad Kappa')

In [33]:
# blending top 2 models
# soft voting
blender = pcc.blend_models(top_2, optimize='Quad Kappa')

In [35]:
# boosting top 2 models
boosted = pcc.ensemble_model(blender, method="Boosting", optimize='Quad Kappa')

<br>
<br>

In [38]:
# making predictions on test data
predictions = pcc.predict_model(blender, data=test_data)

In [41]:
# inspecting predictions
preds = predictions.Label
preds.head()

0    3
1    3
2    2
3    3
4    2
Name: Label, dtype: int32

In [43]:
# checking shape
preds.shape

(1372,)

In [48]:
# adding 3 to predictions
preds = preds + 3
preds.head()

0    6
1    6
2    5
3    6
4    5
Name: Label, dtype: int32

In [44]:
# loading sample submission
submission_df = pd.read_csv("../data/submissions/sample_submission.csv")
submission_df.head()

     Id  quality
0  2056        5
1  2057        5
2  2058        5
3  2059        5
4  2060        5

In [45]:
# checking shape
submission_df.shape

(1372, 2)

In [49]:
# updating target
submission_df.quality = preds
submission_df.head()

     Id  quality
0  2056        6
1  2057        6
2  2058        5
3  2059        6
4  2060        5

In [50]:
# saving as csv file
submission_df.to_csv("../data/submission_2.csv", index=None)