In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

sns.set(color_codes=True)

In [3]:
import pycaret.classification as pcc
from sklearn.metrics import cohen_kappa_score

<br>
<br>
<br>

### Data Collection

In [4]:
# training data
train_data = pd.read_csv("../data/train.csv")
train_data.drop(['Id'], axis=1, inplace=True)
train_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,8.0,0.50,0.39,2.2,0.073,30.0,39.0,0.99572,3.33,0.77,12.1,6
1,9.3,0.30,0.73,2.3,0.092,30.0,67.0,0.99854,3.32,0.67,12.8,6
2,7.1,0.51,0.03,2.1,0.059,3.0,12.0,0.99660,3.52,0.73,11.3,7
3,8.1,0.87,0.22,2.6,0.084,11.0,65.0,0.99730,3.20,0.53,9.8,5
4,8.5,0.36,0.30,2.3,0.079,10.0,45.0,0.99444,3.20,1.36,9.5,6

In [5]:
# red wine dataset
red_data = pd.read_csv("../red_white_dataset/winequality-red.csv", delimiter=';')
red_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
# white wine dataset
white_data = pd.read_csv("../red_white_dataset/winequality-white.csv", delimiter=';')
white_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

<br>
<br>
<br>

### Data Preparation

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
# creating validation set
x_train, x_val = train_test_split(train_data, test_size=0.3, shuffle=True, stratify=train_data.quality)

In [9]:
# inspecting shape
print(x_train.shape)
print(x_val.shape)

(1439, 12)
(617, 12)

In [10]:
# combining data
total_data = pd.concat([x_train, red_data, white_data], ignore_index=True)
total_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.5,0.66,0.00,2.0,0.065,4.0,11.0,0.99437,3.34,0.54,11.5,6
1,9.2,0.24,0.56,1.7,0.077,6.0,20.0,0.99790,3.07,0.56,9.4,6
2,7.6,0.58,0.14,2.1,0.092,25.0,99.0,0.99622,3.31,0.53,9.8,5
3,7.4,0.40,0.34,2.5,0.050,18.0,34.0,0.99352,3.44,0.92,12.4,6
4,9.3,0.39,0.40,2.4,0.114,14.0,119.0,0.99708,3.23,0.67,9.4,6

In [11]:
# shape
total_data.shape

(7936, 12)

In [12]:
# removign duplicate values
total_data.drop_duplicates(inplace=True)

In [13]:
# updated shape
total_data.shape

(6757, 12)

In [14]:
# inspecting final data
total_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.5,0.66,0.00,2.0,0.065,4.0,11.0,0.99437,3.34,0.54,11.5,6
1,9.2,0.24,0.56,1.7,0.077,6.0,20.0,0.99790,3.07,0.56,9.4,6
2,7.6,0.58,0.14,2.1,0.092,25.0,99.0,0.99622,3.31,0.53,9.8,5
3,7.4,0.40,0.34,2.5,0.050,18.0,34.0,0.99352,3.44,0.92,12.4,6
4,9.3,0.39,0.40,2.4,0.114,14.0,119.0,0.99708,3.23,0.67,9.4,6

<br>
<br>
<br>

### AutoML

In [15]:
# quadratic weighted kappa
def quad_kappa(y, y_pred):
    return cohen_kappa_score(y, y_pred, weights='quadratic')

<br>
<br>

In [16]:
# creating environment
total_wine_quality = pcc.setup(data=total_data, target='quality', use_gpu=True)

In [17]:
# adding custom metric
pcc.add_metric('quad_kappa', 'Quad Kappa', quad_kappa)

Name                                                  Quad Kappa
Display Name                                          Quad Kappa
Score Function       <function quad_kappa at 0x0000011EAEA06678>
Scorer                                   make_scorer(quad_kappa)
Target                                                      pred
Args                                                          {}
Greater is Better                                           True
Multiclass                                                  True
Custom                                                      True
Name: quad_kappa, dtype: object

In [18]:
# comparing models
pcc.compare_models()

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=7541, verbose=0,
                       warm_start=False)

In [19]:
# getting top 4 models
top_4 = pcc.compare_models(sort='Quad Kappa', include=['rf', 'qda', 'lightgbm', 'catboost'], n_select=4)

In [20]:
# blending models
blender = pcc.blend_models(top_4, optimize='Quad Kappa')